<p><%= t('.greeting', :recipient => @resource.email, :default => "Hello #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link bel